// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
// main.scss

// Import variables
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import './scss/variables.scss';
@import './scss/fonts.scss';

// Light Theme
body.light-theme {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --accent-color: #{$accent-color};
  --background-color: #{$background-color};
  --text-color: #{$text-color};
}

// Dark Theme
body.dark-theme {
  --primary-color: #{$primary-color-dark};
  --secondary-color: #{$secondary-color-dark};
  --accent-color: #{$accent-color-dark};
  --background-color: #{$background-color-dark};
  --text-color: #{$text-color-dark};
}

// Global styles using CSS variables
body {
  font-family: 'CabinetGrotesk', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
// In your Sidebar component's CSS

