
// Import variables
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import './scss/variables.scss';
@import './scss/fonts.scss';

// Light Theme
body.light-theme {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --accent-color: #{$accent-color};
  --background-color: #{$background-color};
  --text-color: #{$text-color};
}

// Dark Theme
body.dark-theme {
  --primary-color: #{$primary-color-dark};
  --secondary-color: #{$secondary-color-dark};
  --accent-color: #{$accent-color-dark};
  --background-color: #{$background-color-dark};
  --text-color: #{$text-color-dark};
}

// Global styles using CSS variables
body {
  font-family: 'CabinetGrotesk', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
// In your Sidebar component's CSS

.slick-dots li button:before {
  content: "" !important;

}

.slick-dots li {
 width:4rem 
}


.slick-dots li button {
  cursor: pointer;
  background: #FFFFFF;
  height: 0.1px;
  width: 60px;
  padding: 1px;
  opacity: 0.8;
}
.slick-dots li button:active {
  cursor: pointer;
  background: #FFFFFF;
  width: 60px;
  padding: 1px;
}
